.cls-nb-card-header {
  text-align: center;
}

.cls-buttons {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

th,
td {
  border: solid 1px #eee;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #aeb2e7;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(230, 230, 230);
}

tr:hover {
  background-color: #bebbbb;
}

.cls-c-p {
  cursor: pointer;
}
/* Commit vacío - Solo para fines de registro */